<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MVC_APP</display-name>
  <welcome-file-list>
    <welcome-file>view/index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InsertCharacterController</display-name>
    <servlet-name>InsertCharacterController</servlet-name>
    <servlet-class>com.controller.InsertCharacterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertCharacterController</servlet-name>
    <url-pattern>/insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCharacterServlet</display-name>
    <servlet-name>EditCharacterServlet</servlet-name>
    <servlet-class>com.controller.EditCharacterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCharacterServlet</servlet-name>
    <url-pattern>/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCharacterServlet</display-name>
    <servlet-name>UpdateCharacterServlet</servlet-name>
    <servlet-class>com.controller.UpdateCharacterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCharacterServlet</servlet-name>
    <url-pattern>/updateCharacter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCharacterController</display-name>
    <servlet-name>DeleteCharacterController</servlet-name>
    <servlet-class>com.controller.DeleteCharacterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCharacterController</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
</web-app>