<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert Character</title>
</head>
<body>
	<form action="/MVC_APP/insert" method="post">
		ID: <input type="number" name="id" placeholder="Enter id"><br>
		Character Name: <input type="text" name="characterName" placeholder="Enter Character Name"><br>
		Creator: <input type="text" name="creator" placeholder="Enter Creator"><br>
		
		<input type="submit" value="Insert Character"> | 
		<input type="reset" value="Clear Form"><br>
	</form>
</body>
</html>